body{
    padding: 10px;
    margin: 15px;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 25px;
}
.item {
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    width: 250px;
    text-align: center;
}
.item img {
    max-width: 100%;
    height: auto;
}
#searchInput {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
}
#searchButton {
    padding: 8px 16px;
}
.suggestion-item {
    padding : 4px 8px;
    background-color : #f0f0f0;
    border : 1px solid #ccc;
    cursor : pointer;
    width : 300px;
    height: 30px;
    align-content: center;

}
.query{
    text-align: left;
    font-size: 30px;
}
.time{
    text-align: left;
    font-size: 20px;
    color:#666;
}
.history-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
.history-item{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid #666;
}
#clearHistoryButton{
    padding: 8px 16px;
    margin-top: 20px;
}