body{
    margin: 0;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding-bottom: 50px;
}
nav{
    
    margin-bottom: 15px;
    padding: 20px 50px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #bbebff;
    position: sticky;
    top: 0;
}
nav h1 {
    margin: 0;
    font-size: 24px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav button {
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
}
.view-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
}
.item {
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px 20px;
    width: 250px;
    justify-content: center;
    text-align: center;
}

.item img {
    max-width: 80%;
    max-height: 60%;
}
#searchInput {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    height: 20px;
}
#searchButton {
    padding: 10px 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.pagination-controls {
    margin-top: 20px;
    text-align: center;
}
#pageNumbers {
    margin: 0 10px;
    font-weight: bold;
}
#prevPageButton, #nextPageButton {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;

}
.suggestion-item {
    padding : 4px 8px;
    background-color : #f0f0f0;
    border : 1px solid #ccc;
    cursor : pointer;
    width : 300px;
    height: 30px;
    align-content: center;

}
.query{
    text-align: left;
    font-size: 30px;
}
.time{
    text-align: left;
    font-size: 20px;
    color:#666;
}
.history-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
.history-item{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid #666;
}
#clearHistoryButton{
    padding: 8px 16px;
    margin-top: 20px;
}

.container{
    width : 80%;
    display: flex;
    margin-top: 20px;
    border: #666 solid 1px;
    justify-self: center;
    height: auto;
    border-radius: .5rem;
    padding: 20px;
    background-color: #f5f5f5;
}
.container img{
    width: 700px;
    height: auto;
    max-height: 500px;
}
#availability_status{
    background-color: green;
    font-weight: bold;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.container li{
    border-top: 1px solid #ccc;
    padding: .57em .4em;
    background-color: #f9f9f9;
}